<div class="story-share" style="margin-top: 3rem;">
  <p>¿Te gustó este cuento? Compártelo:</p>
  <div class="story-share-links" id="story-share-links">
    <a href="#" class="share-tw" style="background:#0f1419;">𝕏 Twitter</a>
    <a href="#" class="share-wa" style="background:#25d366;">WhatsApp</a>
    <a href="#" class="share-fb" style="background:#1877f2;">Facebook</a>
    <a href="#" class="share-tg" style="background:#0088cc;">Telegram</a>
  </div>
</div>
<script>(function(){var u=encodeURIComponent(location.href);var t=encodeURIComponent(document.title);var d=document.getElementById('story-share-links');d.querySelector('.share-tw').href='https://twitter.com/intent/tweet?text='+t+'&url='+u;d.querySelector('.share-wa').href='https://wa.me/?text='+t+'%20'+u;d.querySelector('.share-fb').href='https://www.facebook.com/sharer/sharer.php?u='+u;d.querySelector('.share-tg').href='https://t.me/share/url?url='+u+'&text='+t;})();</script>

<div style="text-align:center;margin:2rem 0;">
  <a href="/" class="btn">← Volver al inicio</a>
</div>

{% include "disqus.njk" %}
